html,body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: verdana, sans-serif;
}

body
{
    background-color:rgba(255, 255, 0, 0.5);
    height: 100%;
    /*object-fit: cover;*/
}

a
{
    color: rgb(255, 255, 255);
    line-height: 40px;
}
a:hover
{
    color: rgb(90, 101, 255);
}

.przycisk-menu
{
    width: 25%;
    height: 30px;
    background-color: rgb(34, 34, 34);
    color:white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.przycisk-menu:hover
{
    color:white;
    background-color: rgb(35, 35, 136);
}

.placeholder
{
    background-color: rgba(0, 127, 255, 0);
    height: 15vh;
}

#kolumna
{
    background: rgba(14, 14, 14, 0.5);
    width: 80%;
    margin: auto;

}

#glowny-body
{
    background-image: url('background.png');
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

#podstrona
{
    width: 100%;
}

#stopka
{
    background-color: rgb(47, 47, 47);
    width: 80%;
    height: 15%;
    /*margin: 0 auto;*/
    position: fixed;
    bottom: 0;
    left: 10%;
    border-top: 5px solid rgb(47, 47, 47);
}

#naglowek
{
    background-color: rgba(47, 47, 47,1);
    width: 80%;
    height: 15%;
    /*margin: 0 auto;*/
    position: fixed;
    top: 0;
    left: 10%;
    border-bottom: 5px solid rgb(34, 34, 34);
}

#archiwum
{
    text-align: center;
    color: rgb(255, 255, 255);
}

#menu
{
    display: flex;
    justify-content: center;
}

#srodkowy
{
    margin: 0px;
}
